# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ipch

\.vs/OOP Project/v15/ipch/AutoPCH/a9fa9fba67d2dd1a/__TASK1C_MAIN\.ipch

\.vs/OOP Project/v15/\.suo

\.vs/OOP Project/v15/Browse\.VC\.db

\.vs/OOP Project/v15/Browse\.VC\.opendb 
 
\.vs/OOP Project/v15/ipch/AutoPCH/73574783b2597781/ATM\.ipch

x64/Debug